<div class="users form">
<?php
$url = array('controller' => 'users', 'action' => 'retrieve');
echo $this->Form->create('User',array('url' => $url)); ?>

	<fieldset>
		<legend><?php echo __('Upload Image'); ?></legend>
<?php		echo $form->labelTag('File/image', 'Image');
            echo $html->file('File/image');
            echo $html->submit('retrieve image from picasa');

?>
		</fieldset>
	</div>
